@use '../../styles/mixins';

.container {
  width: 100%;
  max-width: 1550px;
  height: calc(100% - 60px);
  margin: 0 auto;
  padding: 60px 0;
  color: var(--color-font-white);
}

.content {
  @include mixins.wh100;

  border: 1px solid var(--color-border-forum-darken);
  border-radius: var(--border-radius-s);

  display: flex;

  background-color: var(--color-bg-forum-primary);
}

.main {
  flex-grow: 1;
  display: flex;
  height: 100%;
}

.unselected {
  @include mixins.wh100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 46px;
}
