
.test {
  width: 200px;
  display: flex;
  padding: 10px;
  margin: auto;
}

.testBtn {
  padding: 10px;
}

.input {
  padding: 10px;
}
.buttonBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  width: 110px;
}
