@use '../../../styles/mixins';

.root {
  position: relative;

  padding: 0;

  background: transparent;
  border: none;

  .background {
    @include mixins.wh100;
    position: absolute;
    inset: 0;

    z-index: 1;

    transition: opacity 0.5s;
  }

  &:hover .background {
    opacity: 0.6;

    transition: opacity 0.5s;
  }

  .body {
    position: relative;

    z-index: 2;
  }
}
