.input {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__label {
        color: var(--color-font-primary);
        font-family: var(--font-input);
        padding: 5px 0;
        font-size: 12px;
        margin-bottom: 2px;
    }
    &__element {
        border-radius: var(--border-radius-s);
        border: 1px solid var(--color-font-secondary);
        height: calc(1.25rem + 2px);
        padding: 5px 5px;
        font-family: var(--font-input);
        font-size: 12px;
        color: var(--color-font-primary);
        background-color: transparent;
    }
}

::placeholder {
    color: var(--color-font-primary);
    font-size: 12px;
    padding: 2px 5px;
    font-family: var(--font-input);
  }

  input:focus {
    outline: none;
    border: 3px solid var(--color-font-secondary);
}
