@use '@/styles/mixins';
@use '@/styles/animationMixins';

.root {
  position: relative;

  padding: 0;

  overflow: hidden;

  background: transparent;
  border: none;

  &::before {
    position: absolute;
    inset: 0;

    z-index: 1;

    background: var(--color-bg-body-mask);
    opacity: 0;

    content: '';

    @include animationMixins.animation-wrapper {
      transition: opacity 0.5s;
    }
  }

  &:hover::before {
    opacity: 0.6;

    @include animationMixins.animation-wrapper {
      transition: opacity 0.5s;
    }
  }

  &Body {
    @include mixins.submit-btn;
    position: relative;

    z-index: 2;

    padding: 0.5rem;

    background: transparent;
    border-color: var(--color-bg-body-mask);
  }
}
