@use '../../../styles/mixins';

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label {
    @include mixins.input-label;
}

.element {
    height: calc(1.25rem + 2px);
    @include mixins.input-form;
}
