@use "../../styles/mixins";

.title {
  color: #fff;
  margin-bottom: 20px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remindLink {
  display: block;
  color: rgba(255, 255, 255, 0.34);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 26px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 23px;

  .buttonSubmit {
    @include mixins.input-btn;
  }
}

.errorMessage {
  color: var(--color-font-primary-error);
  text-align: center;
}

.afterFormBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
    text-align: center;
  }


  .borderLine {
    width: 580px;
    height: 1px;
    background: radial-gradient(ellipse, var(--color-bg-primary-contrast), var(--color-bg-primary));
  }
}

