.header {
  margin: 0;
  background: var(--color-title-gradient-end);
  height: 60px;
  font-family: 'jost';
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
  &__container  {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 90%;

    &__logo {
      flex-grow: 1;
      
      &__content {
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: -1;
      }

      &__content:hover {
        color: #ff7f49;
      }
    }

    &__links {
      flex-grow: 1;

      ul {
          display: flex;
          justify-content: center; 

        li {
          display: inline-block;
          margin: 2em;
        }

      }
    }

    &__profile {
      flex-grow: 1;

      ul {
        display: flex;
        justify-content: flex-end;
      }
       &__auth {
        visibility: hidden;
       }
    }
  }

}

 a:hover {
  color: var(--color-font-secondary);
 }
