@use '@/styles/animationMixins';

.header {

  top: 0;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;

  color: white;
  font-family: var(--font);

  background: var(--color-title-gradient-end);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    .logo {
      flex-grow: 1;

      .logoContent {
        display: flex;
        align-items: center;
        justify-content: start;

        font-weight: 500;
        font-size: 26px;
        letter-spacing: -1;

        // todo возможно #ff7f49; надо вынести в variables.css
        @include animationMixins.hover-wrapper {
          &:hover {
            color: #ff7f49;
          }
        }

        p {
          margin: 0;
        }
      }
    }

    .links {
      flex-grow: 1;

      ul {
        display: flex;

        li {
          display: inline-block;
          margin: 0 2em;
        }
      }
    }

    .profile {
      flex-grow: 1;

      ul {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.yesAuth {
  display: none;
}
