.header {
    margin: 0;
}

.header > ul > li {
    color: black;
    width: 100vh;
    margin: 2%;
    list-style: none;
    display: inline;
    font-size: 20px;
  }

  .link {
    text-decoration: none;
  }
