.header {
  background: var(--color-title-gradient-end);
  height: 60px;
  font-family: var(--font);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 50px;

  
  .container  {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 90%;

    .logo {
        flex-grow: 1;

        .logoContent {
          display: flex;
          align-items: center;
          justify-content: start;
          font-weight: 500;
          font-size: 26px;
          letter-spacing: -1;
        

        &:hover {
          color: #ff7f49;
        }
      }
    }

    .links {
      flex-grow: 1;

      ul {
          display: flex;

        li {
          display: inline-block;
          margin: 2em;
        }

      }
    }

    .profile {
      flex-grow: 1;

      ul {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.yesAuth {
  display: none;
 }

 a:hover {
  color: var(--color-font-secondary);
 }
