@use '@/styles/animationMixins';

.header {
  top: 0;
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;

  color: white;
  font-family: var(--font);

  background: var(--color-title-gradient-end);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    .logo {
      flex-grow: 1;

      .logoContent {
        display: flex;
        align-items: center;
        justify-content: start;

        font-weight: 500;
        font-size: 26px;
        letter-spacing: -1;

        // todo возможно #ff7f49; надо вынести в variables.css
        @include animationMixins.hover-wrapper {
          &:hover {
            color: #ff7f49;
          }
        }

        p {
          margin: 0;
        }
      }
    }

    .links {
      flex-grow: 1;

      ul {
        display: flex;

        li {
          display: inline-block;
          margin: 0 2em;
        }
      }
    }

    .profile {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      height: 35px;

      .themeBtn {
        width: 35px;
        height: 100%;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #ffc43d;
        padding: 0;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
        }
      }

      .themeLight {
        border-color: #464646;
      }

      ul {
        li {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.userBtn {
  height: 35px;
  background-color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

.userAvatar {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border: 1px solid red;
  border-radius: 50%;
  overflow: hidden;
  background-color: inherit;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.userDropdown {
  position: absolute;
  right: 4%;
  bottom: -100%;

  .userLogoutBtn {
    cursor: pointer;
    background: #1b5366;
    border: 1px solid #21d4fd;
    border-radius: 10px;
    width: 155px;
    height: 43px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    margin-left: 18px;
  }
}
