.pixelRatio {
  width: 1350px;
  height: 800px;
  background: black;
}

.fullscreenBtn {
  max-width: max-content;
  margin-left: auto;
}

.screen {
  display: flex;
  flex-direction: column-reverse;
}
