.pixelRatio {
  width: 1000px;
  height: 600px;
  background: black;
}

.fullscreenBtn {
  background-color: var(--color-bg-transparent-btn);
  max-width: max-content;
  margin-left: auto;
}

.screen {
  display: flex;
  flex-direction: column-reverse;
}
