.modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0 0 0 / 50%);
  opacity: 0;

  transition: all 0.3s ease-in-out;

  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: visible;
}

.content {
  position: relative;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 250px;
  padding: 30px;

  color: var(--color-font-white);

  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-forum-primary);
  border-radius: var(--border-radius-m);
}

.title {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.input {
  height: 40px;
  padding: 15px 10px;
  outline: none;
}

.button {
  padding: 10px 20px;

  color: var(--color-font-white);

  background-color: var(--color-border-forum-primary);
  border: none;
  outline: none;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
