@use '../../../styles/mixins';

.button {
  padding: 16px 9px;

  color: #fff;
  font-weight: 700;
  font-size: inherit;

  text-align: center;

  border-radius: var(--border-radius-s);
}

.inputAttr {
  @include mixins.input-btn;
  @include mixins.wh100;
}

.submitAttr {
  @include mixins.submit-btn;
  margin: 10px 0;
  padding: 10px;

  @include mixins.wh100;
}
