@use '../../styles/_mixins';

.test-button-gradient {
  @include mixins.btn-gradient;
  font-size: 30px;
  width: fit-content;
  margin: 10px;
}

.test-title-gradient {
  @include mixins.title-gradient;
  font-weight: 400;
  font-size: 128px;
  width: fit-content;
}
