@import './variables';

@mixin btn-gradient {
    background: $itemsBlue;
    background: linear-gradient(90deg, $itemsBlue 0%, rgba(27,83,102,1) 100%);
}
//пока не работает
@mixin title-gradient {
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: $itemsBlue;
    background-color: radial-gradient(circle, $itemsBlue 0%, rgba(163,226,240,1) 49%, rgba(37,123,142,1) 100%);
}

@mixin link {
    color: $darkTextColor;
    text-decoration: none;
    font-family: 'Jost';
}
