@mixin btn-gradient {
  background: var(--color-gradient-1);
  background: linear-gradient(
    90deg,
    var(--color-gradient-1) 0%,
    var(--color-gradient-3) 100%
  );
}

/* stylelint-disable */
@mixin title-gradient {
  background: radial-gradient(
    50% 50% at 50% 35%,
    var(--color-gradient-1) 0%,
    var(--color-gradient-2) 49%,
    var(--color-gradient-3) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* stylelint-enable */

@mixin wh100 {
  width: 100%;
  height: 100%;
}

@mixin border-base {
  border: 0.125rem solid var(--color-border-primary);

  border-radius: var(--border-radius-s);
}

// только для элементов, которые обычно переопределены в браузере
@mixin font-base {
  color: var(--color-font-primary);
  font-size: var(--font-size);
  font-family: var(--font-input);
}

@mixin input-base {
  @include font-base;

  cursor: pointer;
}

@mixin submit-btn {
  @include input-base;
  @include border-base;
  
  background: transparent; 
  border-color: var(--color-border-primary);
}

@mixin input-btn {
  @include input-base;

  background: var(--color-bg-secondary);
  text-shadow: var(--color-bg-primary) 5px 0 10px;
  border: none;
}

@mixin input-label {
  @include border-base;

  margin-bottom: 2px;
  padding: 5px 0;
}

@mixin input-form {
  @include input-base;
  @include border-base;
  border-color: var(--color-border-primary);
  padding: 5px;

  &:focus {
    border-color: var(--color-border-secondary);
    outline: none;
  }

  &::placeholder {
    @include font-base;
    padding: 2px 5px;
  }
}
