@mixin btn-gradient {
  background: var(--color-gradient-1);
  background: linear-gradient(
    90deg,
    var(--color-gradient-1) 0%,
    var(--color-gradient-3) 100%
  );
}

/* stylelint-disable */
@mixin title-gradient {
  background: radial-gradient(
    50% 50% at 50% 35%,
    var(--color-gradient-1) 0%,
    var(--color-gradient-2) 49%,
    var(--color-gradient-3) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* stylelint-enable */

@mixin wh100 {
  width: 100%;
  height: 100%;
}

@mixin text-ellipsis {
  overflow: hidden;

  white-space: nowrap;

  text-overflow: ellipsis;
}

@mixin center-position-wrapper {
  display: flex;
}

@mixin center-position {
  margin: auto;
}

@mixin border-base {
  border: 0.125rem solid var(--color-secondary);

  border-radius: var(--border-radius-s);
}

// только для элементов, которые обычно переопределены в браузере
@mixin font-base {
  color: var(--color-font-primary);
  font-size: var(--font-size);
  font-family: var(--font-input);
}

@mixin input-base {
  @include font-base;

  cursor: pointer;
}

@mixin submit-btn($hover: true) {
  @include input-base;
  @include border-base;

  background: transparent;
  border-color: var(--color-border-muted);

  @if $hover != false {
    &:hover {
      background: #448897;
      border-color: var(--color-bg-primary-contrast);

      // border-radius: var(--border-radius-s);
      // border: 1px solid var(--color-bg-primary-contrast);
    }
  }
}

@mixin input-btn {
  @include input-base;

  background: var(--color-secondary);
  border: none;
}

@mixin input-label {
  @include border-base;

  
  
  margin-bottom: 2px;
  padding: 5px 0;
}

@mixin input-form {
  @include input-base;
  @include border-base;

  padding: 5px;

  &:focus {
    border: 3px solid var(--secondary);
    outline: none;
  }

  &::placeholder {
    @include font-base;
    padding: 2px 5px;
  }
}
