@use './mixins';

html {
  @include mixins.wh100;
  color: var(--color-font-primary);
}

body {
  @include mixins.wh100;
}

a {
  color: var(--color-font-primary);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0.67rem 0;

  font-size: 2rem;
}

h2 {
  margin: 0.83rem 0;

  font-size: 1.5rem;
}

h3 {
  margin: 1rem 0;

  font-size: 1.17rem;
}

h4 {
  margin: 1.33rem 0;

  font-size: 1rem;
}

h5 {
  margin: 1.67rem 0;

  font-size: 0.83rem;
}

h6 {
  margin: 2.33rem 0;

  font-size: 0.75rem;
}
