@use '@fontsource/almarai';
@use '@fontsource/jost';

html[data-theme='light'] {
  --color-bg-body: #eee;

  --color-leaderboard-title: #000;
}

:root {
  // если неудобно использовать цвета по принадлежности,
  // то можно просто завести палитру color1, color12, ...
  // можно уменьшить количество цветов

  // color primary
  // использовать bg только для фона
  --color-bg-primary: #1b5366;
  --color-bg-primary-hover: #507b89;
  --color-bg-secondary: #00b4dd; // #21d4fd куда-то ушел

  // использовать для границ
  --color-border-primary: #00b4dd; // или этот 21d4fd
  --color-border-secondary: #5f8694;

  // color other
  // использовать bg только для фона
  --color-bg-body: #202029;
  --color-bg-body-mask: rgba(255 255 255 / 30%);

  // main
  --color-bg-transparent-btn: #202029;

  // forum
  --color-bg-forum-secondary: rgb(14 207 252 / 30%);
  --color-bg-selected-topic: rgb(255 255 255 / 30%);
  --color-bg-another-answer: rgb(137 137 137 / 30%);
  --color-bg-empty-avatar: #28263a;
  --color-border-forum-primary: #21d4fd;
  --color-border-forum-darken: rgb(33 212 253 / 30%);
  --color-br: #64e2ff;
  --color-comments-button: rgb(255 255 255 / 60%);

  //leaderboard
  --color-leaderboard-title: #fff;
  --color-bg-leaderboard-header: #1b202f;
  --color-border-leaderboard-primary: #21d4fd;
  --color-leaderboard-fields: #dcdcdc;
  --color-bg-leaderboard-you: rgba(255, 255, 255, 0.23);

  // gradient
  // использовать цвета только для градиента
  --color-gradient-1: #21d4fd;
  --color-gradient-2: #a3e2f0;
  --color-gradient-3: #1b5366; //#257b8e;

  // font
  --color-font-white: #fff;
  --color-font-primary: #eee;
  --color-font-primary-muted: #8ac2d1;
  --color-font-primary-error: #f00;
  --color-font-secondary: #00b4dd;

  // #698E9A Remind me of my password
  --font: 'Jost';
  --font-input: 'Almarai';

  // border
  --border-radius-s: 8px;
  --border-radius-m: 11px;

  // на удаление
  --color-title-gradient-start: #a3e2f0;
  --color-title-gradient-end: #257b8e;
}

// $emodjiSymbol: #C3C7CA;
