
$darkBg: #202029;
$formsColor: #1B5366;
$darkTextColor: #FFFFFF;
$itemsBlue: #21D4FD;
$emodjiSymbol: #C3C7CA;

//_normalize.css
$base-font-size: 16px;
$base-line-height: 24px;
$base-unit: 'em';
$base-font-family: 'Almarai';
$indent-amount: 40px;
$normalize-vertical-rhythm: true;
