@use './variables';
@use './normalize';
@use './mixins';

html {
  color: var(--color-font-primary);
  font-size: 16px;
  font-family: var(--font), sans-serif;

  background-color: var(--color-bg-body);
}

body {
  overflow: hidden;
  margin: 0;
}

.app {
  @include mixins.wh100;
  color: var(--color-font-secondary);
}

a:hover {
  color: var(--color-font-secondary);
}
