@use './variables';
@use './normalize';
@use './mixins';

* {
  box-sizing: border-box;
}

html {
  color: var(--color-font-primary);
  font-size: 16px;
  font-family: var(--font), sans-serif;

  background-color: var(--color-bg-body);
}

body {
  margin: 0;
  overflow: hidden;
  margin: 0;
}

input {
  background-color: inherit;
  border: inherit;
}

main {
  @include mixins.wh100;
}

.app {
  @include mixins.wh100;
  display: flex;
  flex-direction: column;

  color: var(--color-font-secondary);
}

a:hover {
  color: var(--color-font-secondary);
}
