@use './normalize';
@import './variables';
@import './mixins';




body {
   background-color: $darkBg;
   overflow: hidden;
}

.app {
   height: 100vh;
   color: $itemsBlue;
   width: 100vh;
   font-family: 'Almarai';
}
